<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil</title>
</head>
<body>

    <h2>Página de Perfil</h2>
    <p>Olá {{ user.username }}</p>
    <p>E-mail: {{ user.email }}</p>
    
    {% if perms.core.Administrador %}
    <h3>Conteudo visevel apenas para o administrador</h3>
    </li>
    {% endif %}
    

    <p><a href="{% url 'home' %}">voltar</a></p>
    <p><a href="{% url 'logout' %}">Sair</a></p>
</body>
</html>